<h1><%= @edited_product.name %> EDITED</h1>

<%= @edited_product.display_attributes %>

<nav>
  <a href="/locations">Back to Locations</a> |
  <a href="/products">Back to Products</a> |
  <a href="/categories">Back to Categories</a>
</nav>
