<h1><%= @new_creation.class %> SAVED</h1>

<%= @new_creation.display_attributes %>

<nav>
  <a href="/locations">Back to Locations</a> |
  <a href="/products">Back to Products</a> |
  <a href="/categories">Back to Categories</a>
</nav>

