<h1>LOCATION CREATION PAGE</h1>
<nav>
  <a href="/locations">Back to Location Page</a>
</nav>

<form action="/confirm_creation">
  <label for="name">Enter Name</label>
  <input type="text" name="name" id="name">
  <input type="submit" value="Submit">
</form>
  