<h1>WARNING WARNING THIS IS A BIG DEAL!!!</h1>
<h1>NO TAKE BACKS, ARE YOU SURE???</h1>

<h3>Delete <%= @location_to_delete.name %>?</h3>
<br>
<%= @location_to_delete.display_attributes %>
<br><br>

<h2><a href="confirm_delete_location?id=<%= @location_to_delete.id %>">YES, LET IT BURN!</a>-------<a href="/locations">NO, TAKE ME BACK TO LOCATIONS!</a></h2>