<h1>WARNING WARNING THIS IS A BIG DEAL!!!</h1>
<h1>NO TAKE BACKS, ARE YOU SURE???</h1>

<h3>Delete <%= @product_to_delete.name %>?</h3>
<br>
<%= @product_to_delete.display_attributes %>
<br><br>

<h2><a href="confirm_delete_product?id=<%= @product_to_delete.id %>">YES, LET IT BURN!</a>-------<a href="/products">NO, TAKE ME BACK TO PRODUCTS!</a></h2>