<h1>Locations, Locations, Locations!!!</h1>

<nav>
  <a href="/">Back</a> |
  <a href="/create_location">Create Location</a> |
  <a href="/edit_location">Edit Location</a> |
  <a href="/delete_location">Delete Location</a> |
</nav>

<table>
  <th> ID </th>
  <th> Name </th>
  <%@locations.each do |location|%>
  <tr>
    <td><%= location.id %></td>
    <td><%= location.name %></td>
    <% table = location.display_attributes  %>
    <td><button onclick="details('<%= table %>')">More Details</button></td>
  </tr>
  <%end%>
  </table>
  
<script>
  function details (table){
    var  myWindow = window.open("", "", "width=600, height=400");
    myWindow.document.write(table);
 }
</script>